---
const directors: {
  name: string;
  linkedin: string;
  position: string;
  description: string;
  photo: string;
}[] = [
  {
    name: "Guido Tapia",
    linkedin: "https://www.linkedin.com/in/guidotapia",
    position: "Director of Software Development and Machine Learning Services",
    description:
      "Guido manages the Software Development and ML teams at PicNet. They specialise in delivering complex systems that are usually beyond the capabilities of regular outsourcing companies. Such systems as; high performant distributed systems, machine learning and artificial intelligence solutions, business critical applications, etc.",
    photo: "/images/home/guido.png",
  },
  {
    name: "David Booth",
    linkedin: "https://www.linkedin.com/in/david-booth-b35a0b7/",
    position: "Director of Managed Cloud Services and IT Support",
    description:
      "David joined PicNet in 2004 and has held several roles straddling the breadth of IT. David has worked on numerous projects for a number of medium and large size companies and Government agencies. David consults as a vCIO, Senior Project Manager, Business Analyst and drives the IT Support and Managed Cloud Services at PicNet.",
    photo: "/images/home/david.png",
  },
  {
    name: "Marco Tapia",
    linkedin: "https://www.linkedin.com/in/marcotapia/",
    position: "IT Consulting Services Senior Advisor",
    description:
      "Since funding PicNet in 2001, Marco has been responsible for its overall strategic direction, its consulting services and its business development. Marco's experience includes Company Directory, CIO, Business Technology Consultant and IT Project Manager. He has managed large and medium size IT functions for national and international corporations.",
    photo: "/images/home/marco.png",
  },
];
---

<section id="management" class="management-area">
  <div class="container">
    <div class="managment__header">
      <h2>
        OVER 70 YEARS OF COMBINED EXPERIENCE WITH AUSTRALIA'S LEADDING COMPANIES
      </h2>
      <h1>Meet Our Leadership Team</h1>
    </div>

    <div class="management__body">
      {
        directors.map(({ name, description, position, photo, linkedin }) => (
          <div class="management__card">
            <a class="linked-in" href={linkedin}>
              <i class="fa-brands fa-linkedin-in" />
            </a>
            <img src={photo} class="management__card__photo" />
            <div class="management__card__bio">
              <p>{description}</p>
              <hr />

              <strong>{name}</strong>
              <br />
              <span>{position}</span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<style lang="scss">
  @import "../../layouts/global.scss";
  .management-area {
    background-color: $color-bg-1;
    padding-block: $base * 12;
  }

  .management__body {
    display: flex;
    gap: $base * 4;
    .management__card {
      min-width: 0;
      flex: 1;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: $color-bg-light;
      padding: $base * 4;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $base * 4;

      hr {
        margin-block: $base * 2;
      }

      &__photo {
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        max-width: 160px;
      }

      &__bio {
        text-align: center;

        p {
          transform: scale(90%);
        }

        span {
          font-size: $text-sm;
        }
      }
    }
  }
</style>
