---
import { data } from "../../data/home/management.json";
---

<section id="management" class="section management-area">
  <div class="container">
    <header class="section__header">
      <h2 class="section__subtitle">
        OVER 70 YEARS OF COMBINED EXPERIENCE WITH AUSTRALIA'S LEADDING COMPANIES
      </h2>
      <h1 class="section__title">Meet Our Leadership Team</h1>
    </header>

    <main class="management__body">
      {
        data.map(({ name, description, position, photo, linkedin }) => (
          <div class="management__card">
            <img src={photo} class="management__card__photo" />
            <div class="management__card__bio">
              <p>{description}</p>

              <div class="management__card__divider relative">
                <hr />
                <a
                  class="management__card__linkedin"
                  href={linkedin}
                  target="_blank"
                  title={`${name}'s linkedin`}
                >
                  <i class="fa-brands fa-linkedin fa-lg" />
                </a>
              </div>

              <strong>{name}</strong>
              <br />
              <span>{position}</span>
            </div>
          </div>
        ))
      }
    </main>
  </div>
</section>
<style lang="scss">
  @import "../../styles/scss/base-var.scss";
  @import "../../styles/scss/colors.scss";
  @import "../../styles/scss/typography.scss";

  .section__header .section__title {
    color: $color-white;
  }

  .management-area {
    background-color: $color-bg-1;
    padding-block: $base * 12;
  }

  .management__body {
    display: flex;
    gap: $base * 4;
    .management__card {
      min-width: 0;
      flex: 1;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: $color-bg-light;
      padding: $base * 4;
      border-radius: $base * 0.5;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $base * 4;

      hr {
        margin-block: $base * 2;
        border-color: rgba(149, 157, 165, 0.4);
      }

      &__divider {
        position: relative;
        margin-bottom: $base * 3;
      }

      &__linkedin {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        padding: $base * 1.25;
        border-radius: 50%;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        transition: transform 0.4s #{$base-animation-timing};

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }

        i {
          color: $color-text-primary;
        }
      }

      &__photo {
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        max-width: 120px;
      }

      &__bio {
        text-align: center;

        p {
          transform: scale(90%);
        }

        span {
          font-size: $text-sm;
        }
      }
    }
  }

  @media only screen and (max-width: $screen-lg) {
    .management__body {
      flex-direction: column;
      padding: $base * 4;
    }
  }
</style>
