---
import { data } from '@data/home/partners.json';
---

<section id="partners" class="section partners-area">
  <div class="container">
    <header class="section__header">
      <h2 class="section__subtitle">OUR KEY RELATIONSHIPS</h2>
      <h1 class="section__title">Some of our key Partners</h1>
    </header>

    <main>
      {
        data.map(({ logo, description, name, list }) => (
          <div class="partner">
            <div class="partner__logo">
              <img src={`/images/customers/${logo}`} alt={name} loading="lazy" class="img" />
            </div>

            <div class="partner__text">
              <h3 class="partner__name">{name}</h3>
              <p class="partner__description">{description}</p>

              {list && (
                <>
                  <p class="partner__list__title">{list.title}</p>
                  <ul class="partner__list">
                    {list.content.map((item) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                </>
              )}
            </div>
          </div>
        ))
      }
    </main>
  </div>
</section>
<style lang="scss">
  @use '@styles/scss/base-var.scss' as bs;

  section.partners-area {
    background-color: var(--color-white);
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partner {
    display: flex;
    gap: var(--base-3x);
    width: 75%;
    margin: var(--base-4x) auto 0;

    &__logo {
      width: 20%;
      height: min-content;
      padding-top: var(--base-2x);
    }

    &__text {
      flex: 1;
      min-width: 0;
      font-weight: 300;
      color: var(--color-text-primary);
    }

    &__name {
      font-weight: 500;
      font-size: var(--text-xl);
      color: var(--color-black);
    }

    &__description {
      font-size: var(--text-base);
      margin-top: var(--base);
    }

    &__list {
      padding-left: var(--base-3x);
      list-style: disc;
      margin-top: var(--base);
    }

    &__list__title {
      margin-top: var(--base-2x);
    }
  }

  @media only screen and (max-width: bs.$screen-lg) {
    main {
      grid-template-columns: 1fr;
    }
  }
</style>
