---
import { BorderColor } from "@utils/enums";

export interface Props {
  title: string;
  subtitle: string;
  icon: string;
  link: string;
  colour: keyof typeof BorderColor;
  class?: string;
}

const {
  title,
  subtitle,
  icon,
  link,
  colour,
  class: className = "",
} = Astro.props;
---

<div class:list={`${className} card`}>
  <a href={link} class="w-full h-full" title={title}>
    <div class="card__content w-full h-full">
      <div class="card__icon">
        <i class={`${icon} fa-2xl`}></i>
      </div>
      <div class="card__text">
        <h3>{title}</h3>
        <p>{subtitle}</p>
      </div>
    </div>
  </a>
</div>
<style lang="scss" define:vars={{ icon, borderColor: BorderColor[colour] }}>
  @import "@styles/scss/base-var.scss";
  @import "@styles/scss/colors.scss";
  @import "@styles/scss/typography.scss";

  .card {
    width: 100%;
    aspect-ratio: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 9px;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__content {
      color: $color-text-primary;
      background-color: $color-white;
      border-right: 1rem solid var(--borderColor);
      transition: background-color 0.4s cubic-bezier(0.2, 0, 0.3, 1);

      padding: $base * 4;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
    &__icon {
      flex-shrink: 0;
      min-width: 40px;
    }
    &__text {
      h3 {
        font-size: $text-base;
        font-weight: 500;
      }

      p {
        margin-top: $base * 0.5;
        font-size: $text-sm;
        color: $color-text-secondary;
      }
    }

    &:hover &__content {
      background-color: $color-bg;
    }
  }

  @media only screen and (max-width: $screen-lg) {
    .card {
      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      &__content {
        border: 0;
        flex-direction: column;
        text-align: center;
      }
    }
  }
</style>
