---
import Dialog from "./Dialog.astro";

const { logo, brand, title, more, content } = Astro.props;
const dialogid = `dialogid_${logo.split(".")[0]}`;
---

<div class="case-studies__image" onclick={`window.${dialogid}.showModal()`}>
  <img src={`/images/home/customers/${logo}`} />
</div>

<Dialog dialogid={dialogid} open="Open modal">
  <div class="modal__content">
    <div class="customer__logo">
      <img src={`/images/home/customers/${brand}`} />
    </div>
    <div class="customer__content">
      <h3>{title}</h3>
      <p>{content}</p>
      <a class="more-btn text-underline" href={more}>Read more about this</a>
    </div>
  </div>
</Dialog>

<style lang="scss">
  @import "../styles/scss/base-var.scss";
  @import "../styles/scss/typography.scss";
  @import "../styles/scss/colors.scss";

  .case-studies__image {
    max-width: 180px;
    max-height: 100px;
    background-color: $color-white;
    padding: $base * 2;
    border-radius: $base * 0.5;

    cursor: pointer;

    img {
      filter: grayscale(100%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: filter 0.4s $base-transition;
    }

    &:hover {
      img {
        filter: none;
      }
    }
  }

  .modal__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $base * 4;
    padding: $base * 6 $base * 4;
  }

  .customer__logo {
    img {
      width: 100%;
      aspect-ratio: 1.34;
      object-fit: contain;
      object-position: center;
    }
  }

  .customer__content {
    color: $color-text-title;

    h3 {
      font-size: $text-md;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 300;
      margin-top: $base;
    }

    a {
      color: $color-text-info;
      transition: filter $base-transition;
      display: inline-block;
      margin-top: $base * 2;

      &:hover {
        filter: saturate(0.6);
      }
    }
  }
</style>
