---
import Dialog from './Dialog.astro';

interface Props {
  logo: string;
  brand: string;
  title: string;
  more: string;
  content: string | string[];
}

const { logo, brand, title, more, content } = Astro.props;
const dialogid = `dialogid_${logo.split('.')[0]}`;
---

<div class="case-studies__image" onclick={`window.${dialogid}.showModal()`}>
  <img src={`/images/customers/${logo}`} alt="logo" loading="lazy" />
</div>

<Dialog dialogId={dialogid}>
  <div class="modal__content">
    <div class="customer__logo">
      <img src={`/images/customers/${brand}`} alt="brand" loading="lazy" />
    </div>
    <div class="customer__content">
      {title && <h3>{title}</h3>}
      {typeof content === 'string' ? <p>{content}</p> : content.map((item) => <p>{item}</p>)}
      <a class="more-btn text-underline" href={more}>Read more about this</a>
    </div>
  </div>
</Dialog>

<style lang="scss">
  @use '@styles/scss/base-var.scss' as bv;

  .case-studies__image {
    max-width: 180px;
    max-height: 100px;
    background-color: var(--color-white);
    padding: var(--base-2x);
    border-radius: var(--base-half);

    cursor: pointer;

    img {
      filter: grayscale(100%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: filter 0.2s vaar(--base-transition);
    }

    &:hover {
      img {
        filter: none;
      }
    }
  }

  .modal__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--base-4x);
    padding: var(--base-6x) var(--base-4x);
  }

  .customer__logo {
    img {
      width: 100%;
      aspect-ratio: 1.34;
      object-fit: contain;
      object-position: center;
    }
  }

  .customer__content {
    color: var(--color-text-primary);

    h3 {
      font-size: var(--text-md);
      font-weight: 500;
    }

    p {
      font-weight: 300;
      margin-top: var(--base);
    }

    a {
      color: var(--color-text-info);
      transition: filter var(--base-transition);
      display: inline-block;
      margin-top: var(--base-2x);

      &:hover {
        filter: saturate(0.6);
      }
    }
  }

  @media only screen and (max-width: bv.$screen-lg) {
    .modal__content {
      grid-template-columns: 1fr;
    }
  }
</style>
