---
import Dialog from "./Dialog.astro";

const {logo, brand, title, more} = Astro.props;
const dialogid = `dialogid_${logo.split('.')[0]}`;
---

<Dialog dialogid={dialogid} open="Open modal">
  <main>
    <div class="branding">
      <img src={`/images/home/customers/${brand}`} />
    </div>
    <div class="content">
      <h1>{title}</h1>
      <slot/>
      <a class="more" href={more}>More...</a>
    </div>
  </main>
</Dialog>

<div class="logo" onclick={`window.${dialogid}.showModal()`}><img src={`/images/home/customers/${logo}`} /></div>

<style lang="scss">
  .logo {
    img {
      filter: grayscale(100%);
      max-width: 180px;
      max-height: 100px;
    }

    img:hover {
      filter: none;
      box-shadow: 0 8px 11px #989898;
      background-color: #FFFFFF;
    }
  }
</style>