---
export interface Props {
	title: string;
	subtitle: string;
	icon: string;
	link: string;
	colour: string;
}
const { title, subtitle, icon, link, colour } = Astro.props;
---
<div class=`link-card ${colour}`>
	<a href={link}>
		<div class="container">
			<div class="icon">
				<img src={icon}/>
			</div>
			<h1>
				{title}
			</h1>
			<h3>{subtitle}</h3>		
      <div class="colour-bar"></div>
		</div>		
	</a>
</div>
<style>
	.link-card {    
    .container {
      display: grid;    
      grid-template-columns: 2fr 4fr 1fr;
    }
	}  
	.link-card.red div.colour-bar {
    background-color: red;
	}
  .link-card.blue div.colour-bar {
    background-color: blue;
	}
  .link-card.yellow div.colour-bar {
    background-color: yellow;
	}
</style>
