---
export interface Props {
	title: string;
	subtitle: string;
	icon: string;
	link: string;
	colour: string;
}
const { title, subtitle, icon, link, colour } = Astro.props;
---
<div class=`link-card ${colour}`>
	<a href={link}>
		<div class="container">
			<div class="icon">
				<img src={icon}/>
			</div>
      <div class="content">
        <h1>{title}</h1>
        <div>{subtitle}</div>	
      </div>	
		</div>		
	</a>
</div>
<style lang="scss">
  @import '../layouts/global.scss'; 

  .container {
    background-color: $color-fg-light;    
    display: grid;    
    grid-template-columns: 2fr 4fr 1fr;   
    border-radius: 1rem; 
    text-transform: uppercase;
    color: $color-fg-darker;
    padding:1rem 0;
  }

  h1 {
    font-size: $fs-sub-heading; 
  }
  .content {
    h3 { opacity: 0.6; }
  }  

  .link-card.blue .container {
    border-right: 1rem solid #2E77A1;
  }

  .link-card.yellow .container {
    border-right: 1rem solid #F2CD8C;
  }

  .link-card.red .container {
    border-right: 1rem solid #BF7374;
  }
  
</style>
