---
import ArrowButton from "@components/common/ArrowButton.astro";
import InfoItem from "./InfoItem.astro";

interface Props {
  title: string;
  subtitle: string;
  image: string;
  data: {
    type: string;
    title: string;
    subtitle?: string | undefined;
    content: string | string[] | { title: string; nested: string[] }[];
  }[];
  ctaButton?: {
    text: string;
    href: string;
  };
  subSection?: {
    title: string;
    images: string[];
  };
}

const { title, subtitle, image, data, ctaButton, subSection } = Astro.props;
---

<section id="information" class="section information-area">
  <header class="section__header">
    <h3 class="section__subtitle">{subtitle}</h3>
    <h1 class="section__title">{title}</h1>
    {ctaButton && <ArrowButton text={ctaButton.text} href={ctaButton.href} />}
  </header>

  <div class="container">
    <main class="information__content">
      <!-- Section Logo -->
      <img
        src={image}
        alt="information section image"
        class="information__image img"
        loading="lazy"
      />

      <!-- Section text -->

      <div class="information__text">
        {
          data.map(({ title, content, type, subtitle }) => (
            <InfoItem
              title={title}
              content={content}
              type={type}
              subtitle={subtitle}
            />
          ))
        }
      </div>

      <!-- Sub section -->
      {
        subSection && (
          <div class="information__sub-section">
            <strong>{subSection.title}</strong>
            <div class="information__sub-section__images">
              {subSection.images.map((img) => (
                <img
                  src={img}
                  alt="image"
                  width="80"
                  height="40"
                  class="information__sub-section__image"
                />
              ))}
            </div>
          </div>
        )
      }
    </main>
  </div>
</section>

<style lang="scss">
  @import "@styles/scss/colors.scss";
  @import "@styles/scss/base-var.scss";

  .information-area {
    background-color: $color-white;
    padding: 0;

    main.information__content {
      margin-top: $base * 4;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: $base * 8;
    }

    img.information__image {
      max-width: 60%;
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .information__text {
      grid-column: 2/3;
      grid-row: 1/-1;
    }

    .information__sub-section {
      grid-column: 1/2;
      grid-row: 2/3;

      // Images container
      &__images {
        display: flex;
        flex-wrap: wrap;
        min-width: 0;
        gap: 5%;
      }

      // Image
      &__image {
        flex: 0 0 20%;
        min-width: 0;
        object-fit: contain;
        margin-top: 2.5%;
      }
    }
  }

  @media only screen and (max-width: $screen-lg) {
    .information-area {
      padding: $base * 4;

      main.information__content {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
      }

      img.information__image {
        grid-column: 1/-1;
        grid-row: 1/2;
      }

      .information__text {
        grid-column: 1/-1;
        grid-row: 2/3;
      }

      .information__sub-section {
        grid-column: 1/-1;
        grid-row: 3/4;
      }
    }
  }
</style>
