---
interface Props {
  type: string;
  title: string;
  subtitle?: string | undefined;
  content: string | (string | { title: string; nested: string[] })[];
  listTitle?: string | undefined;
  className?: string;
}

const { type, title, content, subtitle, listTitle, className = '' } = Astro.props;
---

{
  type === 'paragraph' && (
    <div class={`information__item ${className}`}>
      <strong class="information__item__title">{title}</strong>
      {subtitle && <p class="information__item__subtitle">{subtitle}</p>}
      <div class="information__item__body">
        {Array.isArray(content) ? content.map((item) => <p set:html={item} />) : <p set:html={content} />}
      </div>
    </div>
  )
}

{
  type === 'list' && (
    <div class={`information__item ${className}`}>
      <strong class="information__item__title">{title}</strong>
      {subtitle && <p class="information__item__subtitle">{subtitle}</p>}
      <div class="information__item__body">
        {listTitle && <p class="information__item__list-title">{listTitle}</p>}
        <ul>
          {(content as (string | { title: string; nested: string[] })[]).map((item) => {
            if (typeof item === 'object') {
              return (
                <li>
                  {item.title}
                  <ul>
                    {item.nested.map((nestedItem) => (
                      <li>{nestedItem}</li>
                    ))}
                  </ul>
                </li>
              );
            }

            return <li>{item}</li>;
          })}
        </ul>
      </div>
    </div>
  )
}

<style lang="scss">
  @import '@styles/scss/colors.scss';
  @import '@styles/scss/base-var.scss';

  .information__item {
    margin-top: $base * 2;

    &__title {
      color: $color-text-2;
      font-weight: 500;
    }

    &__subtitle {
      color: $color-text-primary;
      font-weight: 400;
    }

    p.information__item__list-title {
      margin-top: $base * 2;
    }

    &__body {
      color: $color-text-primary;

      p {
        margin-top: $base * 0.5;
      }

      ul {
        padding-left: $base * 3;
        list-style: disc;
        margin-top: $base;
      }
    }
  }
</style>
