---
import InfoItem from '../info-section/InfoItem.astro';
import Tabs from './Tabs.astro';

import type { ServiceCaseStudy } from '@utils/types';

interface Props {
  title: string;
  subtitle: string;
  data: ServiceCaseStudy[];
  id?: string;
}

const { title, subtitle, data, id } = Astro.props;

const tabs = data.map(({ title }) => title);
---

<section id={id ?? 'service-case-study'} class="section service-case-study-area">
  <div class="container">
    <header class="section__header">
      <h3 class="section__subtitle">{subtitle}</h3>
      <h1 class="section__title">{title}</h1>
    </header>
    <main>
      <Tabs tabs={tabs}
        >{
          data.map(({ image, mainContent, subContent }) => (
            <article class="tabs__item case-study">
              {image &&
                (Array.isArray(image) ? (
                  image.map((img) => <img src={img} loading="lazy" class="case-study__img" width="200" height="100" />)
                ) : (
                  <img src={image} loading="lazy" class="case-study__img" width="200" height="100" />
                ))}

              <div class="case-study__main-content">
                <h1>{mainContent.title}</h1>
                <p>{mainContent.content}</p>
              </div>

              <div class="case-study__sub-content">
                {subContent.map((subContentItem) => (
                  <>
                    <InfoItem
                      type={subContentItem.type}
                      title={subContentItem.title}
                      subtitle={subContentItem?.subtitle}
                      listTitle={subContentItem?.listTitle}
                      content={subContentItem.content}
                      className="case-study__sub-content-item"
                    />
                  </>
                ))}
              </div>
            </article>
          ))
        }</Tabs
      >
    </main>
  </div>
</section>

<style lang="scss">
  @use '@styles/scss/base-var.scss' as bv;

  .service-case-study-area {
    .case-study {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--base-2x);

      &__img,
      &__icon {
        margin-top: var(--base-4x);
        margin-left: var(--base-4x);
      }

      &__img {
        object-fit: contain;
      }

      &__icon {
        color: var(--color-text-info);
      }

      &__main-content {
        grid-column: 1/2;
        padding-inline: var(--base-4x);
        padding-bottom: var(--base-4x);

        h1 {
          font-weight: 300;
          font-size: var(--text-2xl);
          margin-bottom: var(--base);
        }

        p {
          color: var(--color-text-primary);
          font-weight: 300;
          font-size: var(--text-md);
        }
      }

      &__sub-content {
        grid-column: 2/3;
        padding: var(--base-4x);

        background-color: var(--color-text-info);
      }
    }
  }

  @media only screen and (max-width: bv.$screen-lg) {
    .service-case-study-area {
      padding-inline: var(--base-4x);

      .case-study {
        grid-template-columns: 1fr;
        gap: var(--base);

        &__img,
        &__icon {
          margin-left: 0;
          padding-left: var(--base-4x);
        }

        &__sub-content {
          grid-column: 1/-1;
        }
      }
    }
  }
</style>

<style lang="scss" is:global>
  @import '@styles/scss/typography.scss';
  @import '@styles/scss/colors.scss';

  .service-case-study-area {
    .case-study {
      &__sub-content-item {
        strong,
        p,
        ul li {
          color: var(--color-white);
        }

        strong {
          font-weight: 600;
        }

        p {
          font-weight: 300;
        }
      }
    }
  }
</style>
